*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.navbar{
    display: flex;
    padding: 20px 0 20px 0;
    justify-content: space-evenly;
    /*position: fixed;*/
}
.navbar h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: 2px;
}
.navbar nav{
    margin-top: 8px;
    /*padding: 5px 0 0 0;*/
}
.navbar nav a{
    margin: 0 0 0 10px;
    font-size: 17px;
    color: rgb(73, 72, 72);
    padding: 5px;
}
.navbar nav a:hover{
    cursor: pointer;
    color: rgb(11, 11, 11);
}
.navbar div i{
    margin: 2px 0 0 10px;
    padding: 8px;
}
.navbar div i:hover{
    background-color: black;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
.home{
    display: flex;
    flex-wrap: wrap;
}
.home div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.home div hr{
    width: 30px;
    height: 3px;
    text-align: left;
    margin: 0 500px 10px 0;
    background-color: #D2B356;
}
.home div h1{
    font-size: 60px;
    width: 35rem;
    padding: 10px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    text-shadow: 3px 3px 6px black ;
}
.home div p{
    width: 30rem;
    padding: 20px;
    font-size: 20px;
    margin: 10px 82px 20px 0;
}
.home div button{
    padding: 15px;
    width: 15rem;
    margin: 10px 320px 0 0;
    font-size: 20px;
    background-color: white;
    height: 3.5rem;
    font-weight: bold;
    padding-bottom: 20px;
}
.home div button:hover{
    color: #D2B356;
    border: 2px solid;
    border-color: #D2B356;
    cursor: pointer;
}
.about{
    padding: 20px 0 0 0;
    display: flex;
}
.about_heading{
    padding: 40px 0 0 60px;
}
.about_heading h6{
    font-size: 20px;
    font-weight: bolder;
    color: gray;
}
.about_heading h2{
    font-size: 40px;
    width: 60%;
    margin: 20px 0 20px 0;
    text-shadow: 2px 2px 3px black;
    font-weight: lighter;
}
.about_heading hr{
    width: 30px;
    height: 3px;
    text-align: left;
    margin: 0 500px 10px 0;
    background-color: #D2B356;
    margin: 20px 0 20px 0;
}
.about_heading p{
    width: 70%;
    font-size: 20px;
    text-align: justify;
    margin: 20px 0 20px 0;
}
.about_container div{
    padding: 20px;
    padding-left: 25px;
}
.about_container div i{
    font-size: 30px;
    padding: 10px 0 10px 0;
    color: #D2B356;
}
.about_container div h3{
    font-size: 25px;
    padding: 10px 0 10px 0;
}
.about_container div p{
    font-size: 15px;
    text-align: justify;
    padding: 10px 0 10px 0;
}
.gallary{
    padding: 20px 0 20px 10px;
}
.gallary div{
    display: flex;
    justify-content: center;

}
.gallary img{
    height: 300px;
    width: 30%;
    transition: transform 0.3s ease-in-out;
}
.gallary img:hover{
    transform: scale(1.1);
}
.services{
    padding-top: 20px;
    display: flex;
    padding-bottom: 20px;
}
.services-customer{
    padding: 90px 20px 0 10px;
    text-align: center;
}
.services-custome-one{
    padding: 10px 0 5px 0;
    font-size: 30px;
    color: rgb(120, 120, 120);
    font-weight: lighter;
}
.services-custome-two{
    padding: 4px 0 0 180px;
    font-size: 20px;
}
.services_believing{
    padding: 20px 10px 0 10px;
}
.services_believing h6{
    font-size: 18px;
    color: rgb(120, 120, 120);
    padding: 13px 0 18px 0;
}
.services_believing h2{
    font-size: 45px;
    padding: 10px 0 18px 0;
}
.services_believing hr{
    width: 30px;
    height: 3px;
    background-color: #D2B356;
    margin: 13px 0 13px 0;
}
.services_believing p{
    font-size: 23px;
    padding: 10px 0 10px 0;
}
.services_believing button{
    padding: 15px;
    font-size: 15px;
    background-color: white;
    margin: 15px 0 0 0;
    font-weight: bold;
    border: 3px solid black;
}
.services_believing button:hover{
    color: #D2B356;
    border-color: #D2B356;
    cursor: pointer;
}
.services div img{
    padding: 50px 80px 0 10px;
}
.testimonials{
    padding: 20px 35px 10px 35px;
}
.testimonials h6{
    font-size: 20px;
    text-align: center;
    padding: 15px 0 8px 0;
    color: rgb(112, 112, 112);
}
.testimonials h2{
    text-align: center;
    font-size: 40px;
    padding: 8px 0 20px 0;
}
.testimonials>hr{
    margin: 15px 0 15px 0;
    width: 50px;
    height: 3px;
    background-color: #D2B356;
    margin: auto;
}
.testimonials-customers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 0 30px 0;
}
.testimonials-customers div{
    margin: 10px 0 30px 0;
    text-align: center;
}
.testimonials-customers div img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 10px 0 10px 0;
    transition: transform 0.3s ease-in-out;
}
.testimonials-customers div img:hover{
    transform: scale(1.3);
}
.testimonials-customers p{
    padding: 10px 10px 30px 10px;
    font-size: 20px;
    color: rgb(86, 86, 86);
}
.testimonials-customers hr{
    width: 50px;
    height: 3px;
    background-color: #D2B356;
    margin: auto;
}
.testimonials-customers h4{
    padding: 20px 0 30px 0;
    font-size: 20px;
}
.clients-info{
    padding: 10px 0px 10px 0px;
    margin: 0 0 0 20px;
    text-align: center;
}
.clients-info h6{
    font-size: 20px;
    padding: 15px 0 8px 5px;
    color: rgb(112, 112, 112);
}
.clients-info h2{
    text-align: center;
    font-size: 40px;
    padding: 8px 0 20px 0;
}
.clients-info p{
    padding: 10px 10px 30px 10px;
    font-size: 20px;
    color: rgb(86, 86, 86);
}
.clients-info hr{
    width: 30px;
    height: 3px;
    background-color: #D2B356;
    margin: auto;
}
.clients-images{
    align-items: center;
}
.clients-images div{
    padding: 0 0 0 20rem;
}
.client-logo{
    margin: 0 10px 0 10px;
    width: 250px;
    height: 150px;
    font-size: 40px;
    transition: transform 0.3s ease-in-out;
}
.client-logo:hover{
    transform: scale(1.1);
    background-color: rgb(72, 70, 70);
    opacity: 0.9;
}
.pricing{
    margin: 10px 0 50px 0;
    background-color: rgba(232, 231, 231, 0.662);
    padding: 80px 0 20px 0;
}
.pricing>h6{
    font-size: 20px;
    padding: 15px 0 8px 5px;
    color: rgb(112, 112, 112);
    text-align: center;
}
.pricing h2{
    text-align: center;
    font-size: 40px;
    padding: 8px 0 20px 0;
}
.pricing hr{
    width: 30px;
    height: 3px;
    background-color: #D2B356;
    margin: auto;
}
.prices{
    display: flex;
    justify-content: center;
    margin: 80px 0 10px 0;
    padding: 50px 0 10px 0;
}
.personal{
    background-color: #ffffff;
    margin: 0 20px 0 20px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.personal:hover{
    transform: scale(1.1);
    border-radius: 10px;
}
.personal h4{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
.personal h6{
    font-size: 20px;
    color: rgb(86, 86, 86);
    margin: 10px 0 10px 0;
}
.personal > div{
    padding: 20px;
    margin: 15px 0 0 0;
    width: 20rem;
    font-size: 20px;
    font-style: italic;
    background-color: rgb(205, 203, 203);
}
.personal ul{
    list-style: none;
    margin: 15px 0 15px 0;
    padding: 10px 0 10px 0;
}
.personal ul li{
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    font-size: 20px;
}
.personal button{
    padding: 15px;
    margin: 25px 0 15px 0;
    font-size: 20px;
    background-color: #ffffff;
    border: 4px solid black;
}
.personal button:hover{
    border-color: #D2B356;
    color: #D2B356;
}

.student{
    background-color: #ffffff;
    margin: 0 25px 0 25px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.student:hover{
    transform: scale(1.1);
    border-radius: 10px;
}
.student h4{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
.student h6{
    font-size: 20px;
    color: rgb(86, 86, 86);
    margin: 10px 0 10px 0;
}

.business{
    background-color: #ffffff;
    margin: 0 20px 0 20px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.business:hover{
    transform: scale(1.1);
    border-radius: 10px;
}
.business h4{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px 0; 
}    
.business h6{
    font-size: 20px;
    color: rgb(86, 86, 86);
    margin: 10px 0 10px 0;
}
.business > div{
    padding: 20px;
    margin: 15px 0 0 0;
    width: 20rem;
    font-size: 20px;
    font-style: italic;
    background-color: rgb(205, 203, 203);
}
.business ul{
    list-style: none;
    margin: 15px 0 15px 0;
    padding: 10px 0 10px 0;
}
.business ul li{
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    font-size: 20px;
}
.business button{
    padding: 15px;
    margin: 25px 0 15px 0;
    font-size: 20px;
    background-color: #ffffff;
    border: 4px solid black;
}
.business button:hover{
    border-color: #D2B356;
    color: #D2B356;
}

.student>div{
    background-color: #e0c472;
    padding: 20px;
    margin: 15px 0 0 0;
    width: 20rem;
}
.student>div p{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    font-style: italic;
}
.student ul{
    list-style: none;
    margin: 15px 0 15px 0;
    padding: 10px 0 10px 0;
}
.student ul li{
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    font-size: 20px;
}
.student button{
    padding: 15px;
    margin: 25px 0 15px 0;
    font-size: 20px;
    background-color: #ffffff;
    border: 4px solid black;
}
.student button:hover{
    border-color: #D2B356;
    color: #D2B356;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    font-style: italic;
    font-size: 20px;
    margin: 10px 0 50px 0;
}